#_idContainer000, #_idContainer001 {
	height:957px;
	left:36px;
	position:absolute;
	top:32px;
	width:696px;
}
#_idContainer002 {
	height:400px;
	left:84px;
	position:absolute;
	top:226px;
	width:600px;
}
img._idGenObjectAttribute-1 {
	height:100%;
	min-width:100%;
	width:100%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
