p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:1200px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer006 {
	height:957px;
	left:36px;
	position:absolute;
	top:32px;
	width:696px;
}
#_idContainer007 {
	height:85px;
	left:36px;
	position:absolute;
	top:135px;
	width:696px;
}
#_idContainer008 {
	height:729px;
	left:36px;
	position:absolute;
	top:259px;
	width:696px;
}
img._idGenObjectAttribute-1 {
	height:100%;
	min-width:100%;
	width:100%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
